:root {
    --hover-color: rgb(129, 2, 120);
    --darkPink-color: rgb(255, 12, 239);
    --lightPink-color: rgb(255, 127, 246);
    --veryLightPink-color: rgb(255, 188, 251);
}
nav {
    background-color: var(--veryLightPink-color);
    padding: 20px;
    text-align: center;

}

nav a {
    margin: 10px;
}

nav a:hover {
    color: var(--hover-color);
}