:root {
    --hover-color: rgb(129, 2, 120);
    --darkPink-color: rgb(255, 12, 239);
    --lightPink-color: rgb(255, 127, 246);
    --veryLightPink-color: rgb(255, 188, 251);
}
body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

nav {
    background-color: var(--lightPink-color);
    padding: 20px;
    text-align: center;

}

nav a {
    margin: 20px;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
nav a:hover {
    color: var(--hover-color);
}

nav a:visited {

}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 50px;
    background-color: var(--veryLightPink-color);
}

.intro-text {
    max-width: 650px;
}


.intro img {
    width: 300px;
    border-radius: 15px;
}

